glfw3.dll
AntTweakBar64.dll
AntTweakBar.dll
*.pyc
*.prefs
*.dat
src/EXAMPLE.log
/res/

*.log
src/ice_bear.jpg
src/plot_example.py
img/target_mickey.png
img/target_triplet.png
src/concurence_model.py
src/concurence_model.py
img/almost_unmoved.png